{"answer": "b", "choices": {"a": "穿件", "b": "中興新村", "c": "親肌", "d": "年齡層", "e": "進場"}, "index": 1, "question": "或是桃園觀音，鳥先生說這次和老衛到台大安康農場拍荷花，純粹就是連續幾天看到南投︽⊙＿⊙︽蓮花盛開的照片，手癢難耐又抽不出時間衝南投，只能到封閉整修後重新開放的安康農場按按快門，順便幫我和允嘉探探路看看花況，這裡近年來已經成為北部腳架大砲聚集的熱門賞蓮景點之一"}
{"answer": "c", "choices": {"a": "毛巾", "b": "眼白", "c": "護唇膏", "d": "ferragamo", "e": "prairie"}, "index": 2, "question": "這是之前一開始買的莫希多潤唇膠，其實還是不太懂為什麼要取一個調酒的名字，雖然總的來說，質地確實涼涼的，但也不是到勁涼，真要說薄荷，也不太稱得上，本來還很期望是不是真的有酒味，很可惜是沒有的，不然真的添加酒精的︽⊙＿⊙︽，大概也足以稱為史上第一，同時也是目前的唯一吧"}
{"answer": "e", "choices": {"a": "氧基", "b": "蔻蘿蘭", "c": "holika", "d": "毛刀", "e": "化妝水"}, "index": 3, "question": "好用在於它是噴的~ 不適用化妝棉擦拭的!!! 噴噴噴~ ︽⊙＿⊙︽不用經過任何的物體~ 直接來我的臉上唷!"}
{"answer": "d", "choices": {"a": "地址", "b": "朋友", "c": "鸚鵡", "d": "lancome", "e": "心坎"}, "index": 4, "question": "照理說，乳液應該只會有一罐，不過因為我先選出了一瓶乳霜是夜間用的，後來覺得，這樣日間不就沒有乳液，所以才又選出了︽⊙＿⊙︽這"}
{"answer": "e", "choices": {"a": "山間", "b": "河面上", "c": "朴子", "d": "社頭", "e": "墾丁"}, "index": 5, "question": "看看這張地圖，與其花大錢住在︽⊙＿⊙︽大街的民宿或者高檔飯店。躲不掉的車水馬龍的喧囂以及人潮不斷的擁擠"}
{"answer": "d", "choices": {"a": "法用", "b": "專科化妝水", "c": "磁性", "d": "睫毛膏", "e": "cartier"}, "index": 6, "question": "聯名系列同時也有︽⊙＿⊙︽跟眼線液筆～ 大家有常用這幾個品項的話建議可以買來試試，用起來都不賴"}
{"answer": "b", "choices": {"a": "活氧極", "b": "ipsa", "c": "秘密武器", "d": "聖羅蘭", "e": "大創"}, "index": 7, "question": "基本上，你不需要一次買三罐，就像︽⊙＿⊙︽說的，找到屬於自己膚質適用的即可，也是︽⊙＿⊙︽這次推出自律循環誘光系列想要表達的概念，因為它並非一次要賺你買三罐的客單，而是要你能夠真正找到適合自己肌膚的粉底"}
{"answer": "b", "choices": {"a": "工法", "b": "南灣", "c": "妝效", "d": "禪風", "e": "茄子"}, "index": 8, "question": "因為我們前一天去︽⊙＿⊙︽玩水..一堆水上摩扥車在海上呼嘯而過很危險阿...."}
{"answer": "a", "choices": {"a": "maybelline", "b": "美白款", "c": "日本表參道", "d": "慣用", "e": "螢光"}, "index": 9, "question": "所有的開架品牌中我最愛的就是︽⊙＿⊙︽, 尤其實是他們的睫毛膏跟眼線液我用過的數量都要以10為單位去計算"}
{"answer": "d", "choices": {"a": "塑形", "b": "星炫筆", "c": "蛋兒", "d": "bb霜", "e": "media"}, "index": 10, "question": "這支煥采新肌極致潤白礦物︽⊙＿⊙︽的遮瑕力比較好 可以修飾毛孔及斑點痘疤 擦出來的顏色較偏"}
{"answer": "a", "choices": {"a": "pink", "b": "樣是", "c": "網拍", "d": "derma", "e": "diptyque"}, "index": 11, "question": "試用過這款baby ︽⊙＿⊙︽輕透礦物bb霜讓我更放心   它的質地真的很水潤  擦在臉上也不會乾乾"}
{"answer": "b", "choices": {"a": "cosme", "b": "保養品", "c": "生力", "d": "戀愛魔鏡", "e": "固醇"}, "index": 12, "question": "或是覺得皮膚很粗糙, ︽⊙＿⊙︽吸收都不好, 就可以敷這款面膜, 只要10分鐘就會感覺到皮膚的氣色變好"}
{"answer": "c", "choices": {"a": "頂溪社區", "b": "驛棧", "c": "溪頭", "d": "輕井澤", "e": "農作"}, "index": 13, "question": "曼陀鄉民宿就位在︽⊙＿⊙︽舊大門不遠處，走路不到5分鐘，鮮豔的黃藍紅歐式鄉村風建築，還滿顯眼的，一過來就可以看到，對面就是一排小吃攤跟全家便利商店，滿方便的^^，不過民宿本身沒附停車場，要自己在附近找路邊停車"}
{"answer": "d", "choices": {"a": "眼影", "b": "淡斑精華", "c": "聚光", "d": "beauty", "e": "音波淨膚儀"}, "index": 14, "question": "︽⊙＿⊙︽ wish雷射後修護面膜可使用在淨膚雷射、脈衝光、碳粉雷射等各種雷射調理後適"}
{"answer": "e", "choices": {"a": "阿勃勒", "b": "民生路", "c": "扇形車站", "d": "西湖", "e": "高雄"}, "index": 15, "question": "以台南站的位置，以及︽⊙＿⊙︽與台南的距離，我曾經以為永遠不可能需要搭高鐵去台南站"}
{"answer": "c", "choices": {"a": "外教", "b": "定性", "c": "遮瑕", "d": "壁爐", "e": "板南線"}, "index": 16, "question": "後來受好姊妹的影響就買了bb的︽⊙＿⊙︽組 也是持續用了很久 只不過很麻煩的就"}
{"answer": "b", "choices": {"a": "canmake", "b": "護髮品", "c": "肌底", "d": "雙刷頭", "e": "lancome"}, "index": 17, "question": "洗起來的感覺也很順，吹的時候也沒有很煩人的毛躁感，而且吹乾後也不太需要擦︽⊙＿⊙︽來讓髮絲乖順..."}
{"answer": "d", "choices": {"a": "零碼", "b": "作法", "c": "嘉模", "d": "cc霜", "e": "院子"}, "index": 18, "question": "這好氣色就是羨煞我朋友的其中一張~說真的~底妝只要淡淡的隔離霜或是防曬︽⊙＿⊙︽~再上點口紅就非常有元氣和好氣色囉!"}
{"answer": "e", "choices": {"a": "水潤面膜", "b": "明樺", "c": "淨膚儀", "d": "刷哥", "e": "眼影"}, "index": 19, "question": "你也知道我把所有的精力都花在︽⊙＿⊙︽上了，再來就迅速的隨便介紹一下保養新品xd"}
{"answer": "b", "choices": {"a": "農園", "b": "北港", "c": "張學良故居", "d": "中西", "e": "住址"}, "index": 20, "question": "而︽⊙＿⊙︽是台灣最大的花生集散地，因︽⊙＿⊙︽屬含有較高鈣離子的石灰性砂質岩沖積土壤"}
{"answer": "b", "choices": {"a": "烤漆", "b": "雪肌精", "c": "臭臭", "d": "楦鞋", "e": "虹膜"}, "index": 21, "question": "上次有個粉絲眼力很好，看到我下面po的這則訊息，然後問我說：︽⊙＿⊙︽很好用嗎？我看你後面有一整排～ x"}
{"answer": "b", "choices": {"a": "nivea", "b": "粉餅", "c": "糖葫蘆", "d": "勺子", "e": "hermes"}, "index": 22, "question": "這一款︽⊙＿⊙︽有sp35/pa+++，我建議混合型肌膚的人在完成前面兩個步驟的時候可以用蜜粉刷沾取這塊︽⊙＿⊙"}
{"answer": "a", "choices": {"a": "金岳瀑布", "b": "同團", "c": "美的", "d": "員林小吃", "e": "新園"}, "index": 23, "question": "結束驚險刺激、透心涼的︽⊙＿⊙︽之旅，轉移到市區部落緩和一下。位在南澳社區發展協會的葛蕾扇咖啡館，名字取得很響亮，叫上帝親吻的咖啡，大家說這裡的咖啡蠻濃的，不錯"}
{"answer": "e", "choices": {"a": "戀夏", "b": "鶯歌", "c": "公館商圈", "d": "天公", "e": "水上"}, "index": 24, "question": "之前騎︽⊙＿⊙︽自行車道，就有經過弧形橋面的永結橋和筆直的同心橋，因為是熱門婚紗景點，也乾脆配合漆成白色調，連取名都好幸福！中間還設有一個心心相印涼亭，直接有人就在裡邊野餐休息，好生愜意！我們雖然不是新人，但也被美麗浪漫情景所感染，光乘著風就覺得好滿足~"}
{"answer": "c", "choices": {"a": "航站", "b": "炎炎", "c": "lunasol", "d": "玉子", "e": "外太空"}, "index": 25, "question": "所以今天就用︽⊙＿⊙︽冬季限量聖誕彩粧光燦奢華派對組，打造男友愛不釋手的魅力粧"}
{"answer": "a", "choices": {"a": "fendi", "b": "灰塵", "c": "車班", "d": "一座座", "e": "小姑"}, "index": 26, "question": "很窩心的售後問候，單純就是一種感覺的問題，而且很舒服。真要再買︽⊙＿⊙︽的話，目前看到一些新款倒是沒有太喜歡，總覺得有點往celine的簡潔靠攏，chameleon真的很美，停產實在很可惜，2 jours對我來說太方正，少了一些柔軟度，也許未來有機會的話，還是想入手一個peekaboo"}
{"answer": "b", "choices": {"a": "水木", "b": "麻豆", "c": "快艇", "d": "手創", "e": "丘陵"}, "index": 27, "question": "如果無法親自到︽⊙＿⊙︽當地，也可以詢問︽⊙＿⊙︽鎮農會，請農會推薦信譽不錯的果農代訂文旦"}
{"answer": "a", "choices": {"a": "高雄縣", "b": "茶色", "c": "星象", "d": "閃光", "e": "飯粒"}, "index": 28, "question": "茂林國家風景區溫泉資源多，最具規模的要屬︽⊙＿⊙︽六龜鄉境內的寶來和不老溫泉區。看看地圖我們的目的地到了......."}
{"answer": "e", "choices": {"a": "流動性", "b": "whoo", "c": "origins", "d": "現折", "e": "植村秀"}, "index": 29, "question": "蕊心是做成︽⊙＿⊙︽經典的武士刀型狀 比起一般的眉筆更好畫出細緻的線條也不怕筆"}
{"answer": "a", "choices": {"a": "bb霜", "b": "新潮", "c": "全場", "d": "起義", "e": "企鵝"}, "index": 30, "question": "接觸到水後像下圖這樣，︽⊙＿⊙︽沒有化開，水還是水，︽⊙＿⊙︽還是︽⊙＿⊙︽，防水力也不賴。衛生紙沾乾就ok"}
